body{
    background-color: #ebebeb;
    margin: 0;
    color: black;
}

header{
    background-color: #EAC926;
    height: 55px;
    width: auto;
    display: flex;
}
img{
    width: 9%;
    height: auto;
    margin-left: 12%;
    align-self: center;
}

form{
    width: 30%;
    margin: 20px auto;
    background-color: #D0D0D0;
    border-radius: 5px;
    box-shadow: 5px 10px 8px #5C5C5C;
}

input{
    width: 90%;
    border: none;
    border-radius: 5px;
    margin: 20px 5%;
    height: 30px;
    padding: 0;
}

::placeholder{
    padding-left: 5px;
}

label{
    font-family: 'Roboto', sans-serif;
    
}

form label{
    margin: 15px 5%;
    font-weight: bolder;
}

#perfil{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 95%;
    flex-wrap: wrap;
}


.opcion{
    display: flex;
    align-items: center;
}

.opcion label{
    white-space: nowrap;
    font-size: small;
    font-weight: lighter;
}

#intereses{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 95%;
    flex-wrap: wrap;
    margin: auto;
}

#foto{
    display: none;
    cursor: pointer;
}

#contenedor-file{
    height: 30px;
    background-color: whitesmoke;
    width: 45%;
    margin:20px auto;
    border-radius:5px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#contenedor-file{
    height: 30px;
    background-color: whitesmoke;
    width: 45%;
    margin:20px auto;
    border-radius:5px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 300ms;
    cursor: pointer;
}

#contenedor-file:hover{
    background-color: #5C5C5C;
}

#file-texto{
    font-size: x-small;
    cursor: pointer;
}

.fa-solid{
    margin-left: 5px;
    cursor: pointer;
}

#botones{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
}

button{
    margin: 20px auto;
    border: none;
    border-radius: 5px;
    box-shadow: 5px 5px 8px #5C5C5C;
}