<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/09ef2a5033.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="css/style.css">
    <title>MercadoLibre</title>
</head>
<body>
    <header>
        <div id="header-init">
            <div id="contenedor-logo">
                <img src="images/mercado-libre-logo.png" alt="logo-mercado-libre" id="logo">
            </div>
                <form action="resultado.html" method="get" id="search-bar">
                    <input type="text" name="search_bar" id="search_bar" placeholder="Buscar productos, marcas">
                    <div id="icono-lupa">
                        <label for="search_bar"><i class="fa-solid fa-magnifying-glass"></i></label>
                    </div>
                </form>
            <div class="icon-text">
                <i class="fa-solid fa-hand-holding-dollar"></i> 
                <p>Compra en cuotas y sin tarjeta de credito</p> 
            </div>
        </div>
        <nav>
            <ul class="lista-nav" type="none">
                <li><a href="#">Ofertas</a></li>
                <li><a href="#">Tiendas oficiales</a></li>
                <li><a href="#">Vender</a></li>
                <li><a href="#">Ayuda</a></li>
            </ul>
            <ul class="lista-nav" type="none">
                <li><a href="/register"> Crea tu cuenta <i class="fa-solid fa-id-card"></i> </a></li>
                <li><a href="/login"> Ingresa <i class="fa-solid fa-right-to-bracket"></i> </a></li>
                <li><a href="#"> Mis compras <i class="fa-solid fa-basket-shopping"></i></a></li>
            </ul>
            <div id="burger-nav">
                <div id="burger">
                    <i class="fa-solid fa-bars"></i>
                </div>
            </div>
        </nav>
    </header>
    <main>
        <h1>Basado en su ultima visita</h1>
        <section>
            <article class="producto">
                <div class="contenedor-descripcion">
                    <img src="images/cafetera.webp" alt="imagen de la cafetera" class="imagen-producto">
                    <div class="linea-borde-producto"></div>
                    <div class="logo-truck">
                        <i class="fa-solid fa-truck"></i>
                    </div>
                    <div class="precios">
                        <p class="precio">$6.770</p>
                        <p class="descuento">40% off</p>
                    </div>
                    <p class="nombre-producto">Cafetera Moulinex</p>
                </div>
            </article>      
            <article class="producto">
                <div class="contenedor-descripcion">
                    <img src="images/macbook.jpg" alt="imagen de Macbook" class="imagen-producto">
                    <div class="linea-borde-producto"></div>
                    <div class="logo-truck">
                        <i class="fa-solid fa-truck"></i>
                    </div>
                    <div class="precios">
                        <p class="precio">$230.000</p>
                        <p class="descuento">20% off</p>
                    </div>
                    <p class="nombre-producto">Macbook Pro 2019</p>
                </div>
            </article>      
            <article class="producto">
                <div class="contenedor-descripcion">
                    <img src="images/s23.jpg" alt="imagen Samsung S23 Ultra" class="imagen-producto">
                    <div class="linea-borde-producto"></div>
                    <div class="logo-truck">
                        <i class="fa-solid fa-truck"></i>
                    </div>
                    <div class="precios">
                        <p class="precio">$345.230</p>
                        <p class="descuento">10% off</p>
                    </div>
                    <p class="nombre-producto">Samsung S23 Ultra</p>
                </div>
            </article>      
            <article class="producto">
                <div class="contenedor-descripcion">
                    <img src="images/smart-tv.webp" alt="imagen Phillips" class="imagen-producto">
                    <div class="linea-borde-producto"></div>
                    <div class="logo-truck">
                        <i class="fa-solid fa-truck"></i>
                    </div>
                    <div class="precios">
                        <p class="precio">$23.200</p>
                        <p class="descuento">5% off</p>
                    </div>
                    <p class="nombre-producto">Smart Tv Phillips 50"</p>
                </div>
            </article>          
        </section>
        <h1>Seccion de ofertas</h1>
        <section>
            <article class="producto">
                <div class="contenedor-descripcion">
                    <img src="images/cafetera.webp" alt="imagen de la cafetera" class="imagen-producto">
                    <div class="linea-borde-producto"></div>
                    <div class="logo-truck">
                        <i class="fa-solid fa-truck"></i>
                    </div>
                    <div class="precios">
                        <p class="precio">$6.770</p>
                        <p class="descuento">40% off</p>
                    </div>
                    <p class="nombre-producto">Cafetera Moulinex</p>
                </div>
            </article>      
            <article class="producto">
                <div class="contenedor-descripcion">
                    <img src="images/macbook.jpg" alt="imagen de Macbook" class="imagen-producto">
                    <div class="linea-borde-producto"></div>
                    <div class="logo-truck">
                        <i class="fa-solid fa-truck"></i>
                    </div>
                    <div class="precios">
                        <p class="precio">$230.000</p>
                        <p class="descuento">20% off</p>
                    </div>
                    <p class="nombre-producto">Macbook Pro 2019</p>
                </div>
            </article>      
            <article class="producto">
                <div class="contenedor-descripcion">
                    <img src="images/s23.jpg" alt="imagen Samsung S23 Ultra" class="imagen-producto">
                    <div class="linea-borde-producto"></div>
                    <div class="logo-truck">
                        <i class="fa-solid fa-truck"></i>
                    </div>
                    <div class="precios">
                        <p class="precio">$345.230</p>
                        <p class="descuento">10% off</p>
                    </div>
                    <p class="nombre-producto">Samsung S23 Ultra</p>
                </div>
            </article>      
            <article class="producto">
                <div class="contenedor-descripcion">
                    <img src="images/smart-tv.webp" alt="imagen Phillips" class="imagen-producto">
                    <div class="linea-borde-producto"></div>
                    <div class="logo-truck">
                        <i class="fa-solid fa-truck"></i>
                    </div>
                    <div class="precios">
                        <p class="precio">$23.200</p>
                        <p class="descuento">5% off</p>
                    </div>
                    <p class="nombre-producto">Smart Tv Phillips 50"</p>
                </div>
            </article>                   
        </section>
    </main>
    <footer>
        <section>
            <article class="pie">
                <i class="fa-solid fa-credit-card fa-pie"></i>
                <h3>Paga con tarjeta o en efectivo</h3>
                <p class="pie-p">Con MercadoLibreCash tenes cuotas sin interes con tarjeta o efectivo en puntos de pago. Y siempre es seguro!</p>
            </article>
            <article class="pie">
                <i class="fa-solid fa-gift fa-pie"></i>
                <h3>Envio gratis desde los $2.500</h3>
                <p class="pie-p">Solo por estar registrado en Mercado Libre tenes envios gratis en miles de productos. Es un beneficio de Mercado Puntos.</p>
            </article>
            <article class="pie">
                <i class="fa-solid fa-user-shield fa-pie"></i>
                <h3>Seguridad de principio a fin</h3>
                <p class="pie-p">No te gusta? Devolvelo! En MercadoLibre no hay nada que no puedas hacer porque estas siempre protegido.</p>
            </article class="pie">
        </section>
        <p>Copyright 1999-2023 MercadoLibre S.R.L</p>
    </footer>
</body>
</html>